---
import { getUsers } from '../utils/database'

const users = await getUsers()
---

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ブログ一覧</title>
</head>
<body>
	<h1>ブログ一覧</h1>
	<ul>
		{users.map((user) => (
			<li key={user.id}>
				<h2>{user.name}</h2>
				<p>{user.email}</p>
			</li>
		))}
	</ul>
</body>
</html>

